// Herda todas as cores padrão para evitar erros
@import "color_schemes/default";

// Muda cor do texto do menu lateral
$nav-text-color: #ff6600; // Laranja
$nav-link-color: #ff6600;
$nav-link-hover-color: #cc5200;

// Opcional: mudar cor de fundo
$body-background-color: #f9f9f9;
$sidebar-color: #ffffff;
